<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <meta
      name="keywords"
      content="Assignment Help, Academic Writing, Homework Help, Research Paper Writing Help, Case Study Help, Coursework Help, Thesis Help, Narrative Writing, Dissertation Help, Statistical Analysis, Proposal Writing Service, Manuscript Writing Service, Editing and Proofreading Service, Essay Writing Service, Practical Assignments Help, Capstone Projects, CDR Reports, Write My Paper, Lab Report, Video Solutions, Speech Writing, Project Report Writing, Take My Online Exam, PowerPoint Presentation Service, professional writing services, academic assistance, custom writing services"
    />
    <meta
      name="description"
      content="Professional writing services company offering a wide range of academic and professional writing assistance. Our services include Assignment Help, Academic Writing, Homework Help, Research Paper Writing, Case Study Help, Coursework Help, Thesis and Dissertation Help, Statistical Analysis, Proposal Writing, Manuscript Writing, Editing and Proofreading, Essay Writing, Practical Assignments, Capstone Projects, CDR Reports, Lab Reports, Video Solutions, Speech Writing, Project Report Writing, Online Exam Assistance, and PowerPoint Presentation Services. Achieve your academic and professional goals with expert support and high-quality writing solutions."
    />

    <!-- Favicons -->
    <link href="/assets/img/favicon/favicon-16x16.png" rel="icon" />
    <link href="/assets/img/favicon/favicon-32x32.png" rel="icon" />
    <link href="/assets/img/favicon/apple-touch-icon.png" rel="icon" />
    <link href="/assets/img/favicon/android-chrome-192x192.png" rel="icon" />
    <link href="/assets/img/favicon/android-chrome-512x512.png" rel="icon" />

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/vendor/aos/aos.css" />
    <!-- Template Main CSS File -->

    <!-- <link href="/assets/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/common.css" /> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/style.css"> <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/index.css"> <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="common.css"> Custom CSS -->

    <!-- <meta name="google-site-verification" content="3b5jr1v2nLWlU6s7B_QA67LbD9UuEQY4cknPlsimI6k" /> -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center header-transparent">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-11 d-flex align-items-center justify-content-between">
        <!--  image logo -->
        <a href="index.html" class="logo"><img src="/assets/img/assignment-linkers-logo.png" alt="assignment-linkers-logo" class="img-fluid" width="100px" height="190px" /></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="/">Home New</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/about">About Us</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/services">Services</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/subjects">Subjects</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/contactus">Contact Us</a>
            </li>
            <li><a class="nav-link scrollto" href="/offers">Offers</a></li>
            <li><a class="nav-link" href="/reviews">Reviews</a></li>
            <li><a class="nav-link" href="/faq">FAQ</a></li>

            <li><a class="nav-link" href="/auth/login"> login/signup </a></li>
            <li class="dropdown">
              <a href="#"><span>Others</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/refundpolicy">Refund Policies</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/career">Career</a></li>
                <li><a href="/samples">Samples</a></li>
                <li><a href="/membership">Membership</a></li>
              </ul>
            </li>
            <li>
              <!-- <a class="nav-link scrollto Order" href="#">Order now</a> -->
              <form action="/userdashboard/orderassignment" method="GET">
                <button type="submit" class="btn btn-success">Order now</button>
              </form>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle" style="color: #2655a5; background-color: rgba(255, 255, 255, 0.742)"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

    <!-- End Header -->

    <main id="main">
      <!--Start Why to choose us -->
      <section id="why-to-choose-us">
        <div class="container">
          <header class="section-header">
            <h4 style="color: #0f52ba">Why to choose us ?</h4>
            <p>Struggling with assignments? We offer top-notch, reliable academic help to alleviate stress and boost your grades. Trust our expert tutors to guide you towards success.</p>
          </header>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/rating.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #4169e1, #00ffff)"
                />
                <div>
                  <p class="card-title"><strong>Rating</strong></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="200">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/order-delivered.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #ff4500, #ff69b4)"
                />
                <div>
                  <p class="card-title">
                    <strong>2000+ Orders Delivered</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="300">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/phd-writers.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #800080, #008080)"
                />
                <div>
                  <p class="card-title"><strong>PhD Writers</strong></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img class="card-img-top" src="/assets/img/why-to-choose-us-images/offers.png" alt="Card image cap" style="border-radius: 50px; border: 1px solid; background-color: darkcyan" />
                <div>
                  <p class="card-title"><strong>Offers</strong></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="300">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/privacy_security.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #191970, #4b0082)"
                />
                <div>
                  <p class="card-title">
                    <strong> 100% Privacy & <br />Payment Secured </strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/unlimited-revision.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #ff7f50, #ffdab9)"
                />
                <div>
                  <p class="card-title"><strong>Unlimited Rewrites</strong></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/Refund-Guaranteed.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #ff00ff, #e6e6fa)"
                />
                <div>
                  <p class="card-title"><strong>Refund Guaranteed</strong></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="./assets/img/why-to-choose-us-images/affordable.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #40e0d0, #00ffff)"
                />
                <div>
                  <p class="card-title"><strong>Affordable Price</strong></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="200">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/customer-support.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #50c878, #bfff00)"
                />
                <div>
                  <p class="card-title"><strong>Customer Support</strong></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/expertise.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #dc143c, #800000)"
                />
                <div>
                  <p class="card-title"><strong>Experienced Team</strong></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/ontime-delivery.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #228b22, #808000)"
                />
                <div>
                  <p class="card-title">
                    <strong>On time delivery & Quality</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="400">
              <div class="why-us-card">
                <img
                  class="card-img-top"
                  src="/assets/img/why-to-choose-us-images/satisfied-students.png"
                  alt="Card image cap"
                  style="border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #0f52ba, #87ceeb)"
                />
                <div>
                  <p class="card-title">
                    <strong>Over 2000+ satisfied students</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Why to choose us -->

      <!--Start what-we-need-from-clients -->
      <section id="client-quote">
        <div class="container">
          <div class="container" id="what-we-need-from-clients">
            <header class="section-header">
              <h4>What we need from our clients</h4>
            </header>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
                <div class="What-need-from-clients-card mt-4">
                  <img
                    class="card-img-top"
                    src="/assets/img/whatweneedfromclients/client-satisfaction.png"
                    alt="Card image cap"
                    style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid; background-color: darkcyan"
                  />
                  <div>
                    <h4 class="card-title">Client Satisfaction</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
                <div class="What-need-from-clients-card mt-4">
                  <img
                    class="card-img-top"
                    src="/assets/img/whatweneedfromclients/appreciation.png"
                    alt="Card image cap"
                    style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #ff6b6b, #ffd166)"
                  />
                  <div>
                    <h4 class="card-title">Appreciation</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
                <div class="What-need-from-clients-card mt-4">
                  <img
                    class="card-img-top"
                    src="/assets/img/whatweneedfromclients/Top-scores.png"
                    alt="Card image cap"
                    style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #3a5fcd, #00ff00)"
                  />
                  <div>
                    <h4 class="card-title">Top Scores</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
                <div class="What-need-from-clients-card mt-4">
                  <img
                    class="card-img-top"
                    src="/assets/img/whatweneedfromclients/graduation.png"
                    alt="Card image cap"
                    style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #800020, #d58b8b)"
                  />
                  <div>
                    <h4 class="card-title">Graduation</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 box why-us-card" data-aos="fade-up" data-aos-delay="100">
                <div class="What-need-from-clients-card mt-4">
                  <img
                    class="card-img-top"
                    src="/assets/img/whatweneedfromclients/Refer-others.png"
                    alt="Card image cap"
                    style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid; background: linear-gradient(135deg, #daa520, #808000)"
                  />
                  <div>
                    <h4 class="card-title">Refer Others</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container" id="get-a-free-quote-now">
            <header class="section-header">
              <h4>Get a free quote now</h4>
            </header>
            <div class="row">
              <!-- <div class="col-2"></div> -->
              <div class="col-12">
                <form id="quotationForm">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name" required />
                      </div>

                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 col-md-4"><input type="number" class="form-control" id="countrycode" placeholder="Country Code" name="countrycode" required /></div>
                          <div class="col-12 col-md-8">
                            <input type="number" class="form-control" id="number" placeholder="Mobile Number" name="mobilenumber" required />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email address" name="email" required />
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="mb-3">
                        <select name="subject" id="subject" class="form-control" required>
                          <option value="#">Choose a Subject</option>
                          <option value="Accounting">Accounting</option>
                          <option value="Management">Management</option>
                          <option value="Law">Law</option>
                          <option value="Economics">Economics</option>
                          <option value="Nursing">Nursing</option>
                          <option value="IT">IT</option>
                          <option value="Statistics">Statistics</option>
                          <option value="Finance">Finance</option>
                          <option value="B.Tech">B.Tech</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <input type="text" class="form-control" id="deadline" name="deadline" placeholder="Deadline" required onfocus="(this.type='date')" onblur="(this.type='text')" />
                      </div>

                      <div class="mb-3">
                        <input type="number" class="form-control" id="wordcount" placeholder="Wordcount" name="wordcount" required />
                      </div>
                    </div>

                    <div class="mb-3">
                      <input type="text" class="form-control" id="university" placeholder="University" name="university" />
                    </div>

                    <div class="mb-3">
                      <textarea class="form-control" id="description" placeholder="Assignment Description" name="assignmentdescription" required></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div id="message" class="text-center bg-light"></div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
              </div>
              <!-- <div class="col-2"></div> -->
            </div>
          </div>
        </div>
      </section>
    </main>
    <section>
  <div class="whatsapp&callbutton">
    <a href="https://wa.me/+61494311801" target="_blank" class="whatsapp-button">
      <img src="/assets/img/socialmedialogos/Digital_Stacked_Green.png" alt="WhatsApp" width="50px" />
    </a>
  </div>
</section>


    <!-- ======= footer ======= -->
    <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 footer-links">
          <header class="section-header">
            <h4>Our Policies</h4>
          </header>
          <div class="our-policies">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/privacypolicy">Privacy Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/terms&conditions">Terms & Conditions</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/payment&securedpolicy">Payment & Secured Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/refundpolicy">Refund Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/copyrightpolicy">Copyright Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/fairusepolicy">Fair use Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/satisfactionpolicy">Satisfaction Policy</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/valueformoney">Value for Money</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 footer-contact">
          <header class="section-header">
            <h4>Contact Us</h4>
          </header>
          <div class="social-links">
            <a href="https://wa.me/+61494311801" class="whatsapp"
              ><img
                src="/assets/img/socialmedialogos/Digital_Stacked_Green.png"
                alt="whatsapp"
                width="30px"
            /></a>
            <a href="https://www.instagram.com/assignmentlinkers/" class="instagram">
              <img
                src="/assets/img/socialmedialogos/Instagram_Glyph_Gradient.png"
                alt="instagram logo"
                width="30px"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=61556511496784" class="facebook"
              ><img
                src="/assets/img/socialmedialogos/Facebook_Logo_Primary.png"
                alt="facebook logo"
                width="30px"
            /></a>
            <a href="https://www.linkedin.com/in/assignmentlinkers/" class="linkedin"
              ><img
                src="/assets/img/socialmedialogos/LI-In-Bug.png"
                alt="linkdin"
                width="30px"
            /></a>
            <a href="https://x.com/AssignmentsLink" class="twitter"
              ><img
                src="/assets/img/socialmedialogos/logo-black.png"
                alt="twitter logo"
                width="30px"
            /></a>
            <a href="https://in.pinterest.com/assignmentlinkers/" class="pinterest"
                  ><img
                    src="/assets/img/socialmedialogos/pinterest-logo.png"
                    alt="youtube logo"
                    width="30px"
                /></a>

            <a href="https://youtube.com/@assignmentlinkers?si=IvE9VbV4XTnGXs6A" class="youtube"
              ><img
                src="/assets/img/socialmedialogos/yt_logo_rgb_light.png"
                alt="youtube logo"
                width="30px"
            /></a>
          </div>
          <div class="row contact-info">
            <div class="col-6">
              <div class="contact-address">
                <h6>Address:</h6>
                <address style="font-style: italic">
                  MIG 797, <br />sitamahalakshmi apartments, <br />Ground
                  floor back side, <br />
                  near bhuvana vijayam grounds,<br />
                  KPHB phase 2 , pincode 500072.
                </address>
              </div>
              <div class="contact-phone">
                <h6>Phone Number:</h6>
                <p><i class="bi bi-telephone" style="color: white; margin-right: 5px;"></i><a href="tel:+918309368958">+91 8309368958</a></p>
                <!-- <p><a href="tel:+61494311801">+61494311801</a> <span style="color: rgb(197, 197, 197);">(Whatsapp only)</span></p> -->
              </div>
              <div class="contact-phone">
                <h6>Whatsapp:</h6>
                <p><i class="bi bi-whatsapp" style="color: white; margin-right: 5px;"></i><a href="https://wa.me/+61494311801">+61494311801 </a></p>
              </div>
              <div class="contact-email">
                <h6>Email:</h6>
                <p>
                  <a href="mailto:assignmentlinkers@gmail.com">assignmentlinkers@gmail.com</a>
                </p>
              </div>
            </div>
            <div class="col-6">
              <form id="footerContactForm">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="fcname"
                    placeholder="Your Name"
                    name="fcname"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="fcemail"
                    placeholder="Your Email"
                    name="fcemail"
                    required
                  />
                </div>
                <div class="form-group">
                  <div class="d-flex">
                    <select
                      class="form-control"
                      id="fccountrycode"
                      name="countrycode"
                      style="max-width: 30%; margin-right: 10px;"
                      required
                    ><option value="+61">+61 (Australia)</option>
                    <option value="+1">+1 (USA)</option>
                    <option value="+91">+91 (India)</option>
                    <option value="+44">+44 (UK)</option>
                    <option value="+81">+81 (Japan)</option>
                    <option value="+49">+49 (Germany)</option>
                    <option value="+33">+33 (France)</option>
                    <option value="+39">+39 (Italy)</option>
                    <option value="+86">+86 (China)</option>
                    <option value="+7">+7 (Russia)</option>
                    <option value="+55">+55 (Brazil)</option>
                    <option value="+34">+34 (Spain)</option>
                    <option value="+52">+52 (Mexico)</option>
                    <option value="+62">+62 (Indonesia)</option>
                    <option value="+27">+27 (South Africa)</option>
                    <option value="+82">+82 (South Korea)</option>
                    <option value="+90">+90 (Turkey)</option>
                    <option value="+60">+60 (Malaysia)</option>
                    <option value="+64">+64 (New Zealand)</option>
                    <option value="+41">+41 (Switzerland)</option>
                    <option value="+31">+31 (Netherlands)</option>
                    <option value="+46">+46 (Sweden)</option>
                    <option value="+63">+63 (Philippines)</option>
                    <option value="+966">+966 (Saudi Arabia)</option>
                    <option value="+47">+47 (Norway)</option>
                    <option value="+32">+32 (Belgium)</option>
                    <option value="+94">+94 (Sri Lanka)</option>
                    <option value="+65">+65 (Singapore)</option>
                    <option value="+98">+98 (Iran)</option>
                    <option value="+234">+234 (Nigeria)</option>
                    </select>
                    <input
                      type="number"
                      class="form-control"
                      id="fcmobilenumber"
                      name="mobilenumber"
                      placeholder="Mobile Number"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="2"
                    placeholder="Message"
                    required
                    id="fcmessage"
                  ></textarea>
                </div>
                <div class="d-flex justify-content-center">
                  <div
                    id="statusMessage"
                    style="margin: 5px; background-color: rgb(255, 255, 255); border-radius: 2px;"
                  ></div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
              
            </div>
          </div>
        </div>

        <div class="col-lg-3 footer-globalpresence">
          <header class="section-header">
            <h4>Global Presence</h4>
          </header>
          <div class="container">
            <img
              src="/assets/img/worldmap.png"
              alt="our locations in world"
              style="width: 250px; height: 400px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="paymentsecure-adv">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="" role="">
            <span style="color: rgb(16, 224, 109); font-size: 18px"
              >100% Secure Payment</span
            >
            <span
              class="paymentmethods"><img
                src="/assets/img/paymentcardsimage.png"
                alt="paymentmethods image"
            /></span>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
      <div class="row"></div>
    </div>
  </section>

  <section id="footer-copyright">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Assignment Linkers</strong>. All Rights
        Reserved <br />
      </div>
    </div>
</div>
  </section>
    <!-- End footer -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script>
      // code for AOS
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        // once: true,
      });
    </script>

    <script>
      (function () {
        "use strict";

        /**
         * Easy selector helper function
         */
        const select = (el, all = false) => {
          el = el.trim();
          if (all) {
            return [...document.querySelectorAll(el)];
          } else {
            return document.querySelector(el);
          }
        };

        /**
         * Easy event listener function
         */
        const on = (type, el, listener, all = false) => {
          let selectEl = select(el, all);
          if (selectEl) {
            if (all) {
              selectEl.forEach((e) => e.addEventListener(type, listener));
            } else {
              selectEl.addEventListener(type, listener);
            }
          }
        };

        /**
         * Easy on scroll event listener
         */
        const onscroll = (el, listener) => {
          el.addEventListener("scroll", listener);
        };

        /**
         * Mobile nav toggle
         */
        on("click", ".mobile-nav-toggle", function (e) {
          select("#navbar").classList.toggle("navbar-mobile");
          this.classList.toggle("bi-list");
          this.classList.toggle("bi-x");
        });

        /**
         * Mobile nav dropdowns activate
         */
        on(
          "click",
          ".navbar .dropdown > a",
          function (e) {
            if (select("#navbar").classList.contains("navbar-mobile")) {
              e.preventDefault();
              this.nextElementSibling.classList.toggle("dropdown-active");
            }
          },
          true
        );
      })();
    </script>
    <script src="/assets/js/freequote.js"></script>
    <script src="/assets/js/footercontactus.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
    <script>
      let dtToday = new Date();
      let month = dtToday.getMonth() + 1;
      let day = dtToday.getDate();
      const year = dtToday.getFullYear();

      if (month < 10) month = "0" + month.toString();
      if (day < 10) day = "0" + day.toString();

      const minDate = year + "-" + month + "-" + day;

      // Set the minimum date in the input field
      document.getElementById("deadline").setAttribute("min", minDate);
    </script>
  </body>
</html>
